<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Screen_Shot_2023-11-28_at_11.20.05_AM-removebg-preview_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{123,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,151}}</string>
				<key>sourceSize</key>
				<string>{123,151}</string>
			</dict>

			<key>Screen_Shot_2023-11-28_at_11.20.05_AM-removebg-preview_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,310},{96,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,158}}</string>
				<key>sourceSize</key>
				<string>{96,158}</string>
			</dict>

			<key>Screen_Shot_2023-11-28_at_11.20.05_AM-removebg-preview_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,310},{98,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,155}}</string>
				<key>sourceSize</key>
				<string>{98,155}</string>
			</dict>

			<key>Screen_Shot_2023-11-28_at_11.20.05_AM-removebg-preview_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,152},{118,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,157}}</string>
				<key>sourceSize</key>
				<string>{118,157}</string>
			</dict>

			<key>Screen_Shot_2023-11-28_at_11.20.05_AM-removebg-preview_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,0},{95,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,161}}</string>
				<key>sourceSize</key>
				<string>{95,161}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>